@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This web application maintains the data about water quality systems in South Australia, and the regions and towns/suburbs supplied by these systems.</p> 

<p>It also stores information about the test parameters and the disinfection methods used.</p>
