@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <b>UO DDWT Teaching Team</b> <br />
    UniSA Online STEM<br />
    City West Campus (CS4-01)<br />
    Adelaide, SA 5000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:UOINFT1032@unisa.edu.au">UOINFT1032@unisa.edu.au</a>
</address>