<h2>SA Water Quality</h2>


<div class="card bg-light mb-3">
    <div class="card-header"><h5>SA Water Information</h5></div>
    <div class="card-body">
        <h6 class="card-title">Sources</h6>
        <p class="card-text">
            <ul>
                <li class="mb-2">
                    <p>The reservoirs are the state’s primary water storage areas, supplying homes and businesses across South Australia. The reservoirs don't just fill with rain, we can also use them as storage for River Murray water in times of high demand.</p>

                    <p>At full capacity, our reservoirs can hold almost 200,000 megalitres of water - just under a year's supply for metropolitan Adelaide.</p>
                </li>
                <li class="mb-2">
                    <p>The River Murray makes a key contribution to the water security of our state. Of our more than 80 drinking water supply systems, nearly half either directly or indirectly draw from the river.</p>

                    <p>How much water we draw from the River Murray varies from year to year, and is largely dependent on the amount of natural inflow into the reservoirs in the Mount Lofty Ranges.</p>
                </li>
                <li class="mb-2">
                    <p>Groundwater is contained in underground water bodies known as aquifers. More than half our drinking water supply systems draw water from aquifers as their primary source of water for households and businesses.</p>

                    <p>In some areas, groundwater is the best – and at times the only reliable – source of water. Most aquifers are located in the South East, Eyre Peninsula and northern region of South Australia where rainfall is inconsistent. These aquifers vary, from local bores to the Blue Lake, a volcanic crater containing groundwater from local aquifer systems which supplies people in the city of Mount Gambier.</p>
                </li>
                <li class="mb-2">
                    <p>Another key water source for South Australia is the sea. Across the state we operate 11 desalination plants, two of which treat seawater: one at Lonsdale in Adelaide and the other at Penneshaw on Kangaroo Island.</p>
                    <p>The other nine desalination plants provide safe, clean drinking water to remote Aboriginal communities in South Australia and the people of Hawker and Leigh Creek in the Flinders Ranges, as well as Oodnadatta in the state's far north-west, by treating saline groundwater.</p>
                </li>
                <li class="mb-2">
                    <p>All drinking water needs to be disinfected to make it safe to drink. </p>
                </li>
                <li class="mb-2">
                    <p>For more information, please visit the <a href="https://www.sawater.com.au/" target="_blank">website</a> of SA Water.</p>
                </li>
            </ul>
    </div>
</div>


